*{
    margin:0;
    padding:0;
}
body{
    background: #6a3093;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
fieldset{
    
    background: rgb(71, 67, 67);
width: 900px;
height: 1350px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
border: none;
outline: none;
border-radius: 20px;
      
}
a{
    text-decoration: none;
}
label{
    color:white;
}
.radio{
    color:white;

}
.checkbox{
    color:white;
} 
legend{
color: white;
margin-left: 30px;
font-size: 30px;
text-shadow: 1px 1px 2px black;
}
.nome {
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.sobrenome {
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.sobrenome1{
    margin-top: 30px;
    margin-left: 26px;
}
.data{
    color: black;
    width: 115px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.idade{
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.idade1{
    
    margin-left: 26px;
    
}
.btnradio{
    width: 20px;
    height: 16px;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.nacao0{
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
}
select{
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
}
textarea{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.check{
    
    width: 30px;
    height: 19px;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
}
button{
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 600px;
    font-size: 20px;
    background: #005C97; 
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    color:white;
    width: 230px;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.check0{
    color:white;
}
input{
    color:white;
}
h6{
color:white;
}
.cidade{
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.cidade1{
    margin-left: 20px;
}
input{
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
    color: black;
}
